body{
    max-width: 1900px;
    width: 100%;
    margin: 0 auto;
    background: #FFFFFF;
}
.nav-header-menu{
    display: flex;
    justify-content: space-between;
    background-color: #313131;
}
.header-menu{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 410px;
}
.logo{
display: inline-block;
}
.logo-img {
    margin: 22px  27px 21px 29px ;
}
.logo-text{
    padding: 22px 474px 22px 0;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 30px;
    color: #FFFFFF;
}
.search-button {
    background-color: black;
    cursor: pointer;
    border: none;
}
.search-button:hover{
    background-color: #313131;
}
.search{
    padding: 27px 26px;
}
.search:hover{
    transform: scale(2);
    transition: 1s;
}
.header-menu-item{
    padding: 28px 35px 26px 0;
    color: white;
}
.header-menu-link{
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    text-transform: uppercase;
    color: #FFFFFF;
}
.header-menu-link:hover{
    color: dodgerblue;
}
.main-title{
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 27px;
    line-height: 32px;
    text-transform: uppercase;
    padding-top: 48px;
}
.main-title.news{
    color: white;
    padding-top: 163px;
}
.posts{
    color: dodgerblue;
}
.banner-news{
    background: url("../img/header-background.jpg") no-repeat fixed;
    background-size: contain;
    max-width: 1900px;
}
.buttons{
    display: flex;
    justify-content: center;
    align-content: center;
    padding-top: 44px;
    padding-bottom: 75px;
}
.button{
    border: none;
    border-radius: 5px;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    padding: 16px 19px ;
    margin-right: 20px;
    color: white;
    cursor: pointer;
}
  .button:hover{
      transform: scale(1.1);
      transition: 1s;
  }
.subscribe{
    background: #89CA62;
}
.articles{
    background: #14B9D5;
}
.most-popular-posts {
    background-color: #F2F2F2;
    border-bottom: 1px solid black;
}
.container{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    max-height: 1000px;
    margin: 52px auto 72px;
    width: 100%;
    max-width: 1170px;
}
.hotels{
    margin: 0 30px 30px 0;
    background: #FFFFFF;
}
.hotels:hover{
    transform: scale(1.1);
    transition: 1s;
}
.hotel-name{
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    color: #353A3D;
    padding: 20px 16px 22px 14px;
}
.banner-clients{
    background-size: cover;
    width: 100%;
    max-width: 1900px;
    background: url(../img/layer_4_1.jpg) fixed no-repeat;
    background-size: cover;
}
.main-title.clients{
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 44px;
    text-transform: uppercase;
    color: #FFFFFF;
    padding-top: 108px;
}
.main-title.clients::after{
    display: block;
    content:'';
    border-bottom:3px solid #18B4CF;
    margin: 87px auto 0;
    width: 60px;
}
.clients-logo {
    display: grid;
    grid-template:1fr / 1fr minmax(auto, 880px) 1fr;
    padding-top: 106px;
    padding-bottom: 191px;
}
.clients-logo-table{
    display: grid;
    grid-auto-flow: column;
    justify-content:space-between;
    grid-column: 2/3;
    align-items: center;
}
.top-rated{
    color: #18B4CF;
}
.hot-news{
    color: #18B4CF;
}
.content-banner {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    margin-bottom: 48px;
    margin-top: 52px;
}
.img-content:hover{
    transform: scale(1.2);
    transition: 1s;
}
.hotel-title{
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    color: #353A3D;
    padding-top: 15px;
    padding-bottom: 15px;
}
.hotel-text{
    display: inline-block;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    text-align: right;
    color: #5B6469;
    padding: 15px;
}
.hotel{
    font-size: 20px;
    color: #000;
    text-align: center;
    background-color: #F2F2F2;
}
.hotels-information{
    display: grid;
    grid-template-columns: 278px 35px 171px 72px 60px 181px 61px 35px 277px;
    grid-template-rows: 259px  1fr 1fr 259px;
    margin: 50px 361px 71px 372px;
    grid-row-gap: 44px;
}
.Prophecy_Hotel{
   /* grid-area: 1/1/2/4;*/
    grid-column: span 3 ;
}
.Prophecy_Hotel_text{
    /*grid-area: 1/4/2/8;*/
    grid-column: span 4 ;
}
.Nebula_Hotel{
    grid-area: 1/9/2/10;
}
.Western_Resort{
    /*grid-area: 2/1/3/5;*/
    grid-column: span 4;
}
.Grand_Resort{
    grid-area: 2/6/3/10;
}
.Wanderlust_Resort{
    /*grid-area: 3/1/4/5;*/
    grid-column: span 4;
}
.Twin_Hotel{
    grid-area: 3/6/4/10;
}
.Prism_Hotel{
    grid-area: 4/1/5/2;
}
.Kings_Resort{
    grid-area: 4/3/5/7;
}
.Kings_Resort_text{
    /*grid-area: 4/7/5/10;*/
    grid-column: span 3;
}
.footer{
    display: grid;
    grid-template: 80px/373px minmax(auto, 900px) minmax(auto,268px)361px;
    background-color: #000000;;
    align-items: center;
    color: #FFFFFF;
}
.text{
    grid-column: 2/3;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 13px;
}
.logo{
    grid-column: 3/4;
    text-align: right;
}
.our-footer.logo{
    display: flex;
    align-items: flex-start;
    justify-content: end}